<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <identity impersonate="true" />
    </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <connectionStrings>
    <add name="LoveMarriage.Data"
     providerName="System.Data.ProviderName"
     connectionString="Data Source=DDTF1HQ2;Initial Catalog=LoveMarriageDB;Integrated Security=True;" />
  </connectionStrings>
</configuration>
